@page "/Profile"
@page "/Profile/{ProfileGID:guid}" 

<EditForm Model="profile">
    <div class="w3-row">
        <div class="w3-col s12 m4 l3">
            <div class="w3-panel">
                <img src="snowtops.jpg" class="w3-circle w3-image" alt="Profile Picture">
            </div>
        </div>
        <div class="w3-col s12 m8 l9">
            <div class="w3-panel">

            </div>
        </div>
    </div>
</EditForm>