@page "/MyProfile/{ProfileGID:guid}"

<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col s12 m4 l3 w3-padding-16">
            <div class="w3-card-4">
                <img src="" class="w3-image" alt="My Profile Image"/>
            </div>
            <hr />
            <div>
                <h4>South African</h4>
                <p>101 Wild Avenue</p>
                <p>South Africa, Pretoria, Newlands, 0081</p>
            </div>
            <div>
                <h4>Agent</h4>
                <h6>Manager</h6>
                <p>079 022 0000</p>
                <p>thabiso.nyathela@yahoo.com</p>
            </div>
        </div>
        <div class="w3-col s12 m8 l9 w3-padding-16">
            <div class="my-info  w3-panel">
                <h4>Thabiso Nyathela</h4>
                <p>Gaddafi</p>
                <p>I'm an young artist from a small town called lova asa'mbe grow up and small shack producing music using a just a microphone and mini radio donated to me by my mom's mulungu</p>
            </div>

            <div class=" w3-panel">
                <h5>About</h5>
                <hr />
                <p><span>Phone : </span> 0761994752</p>
                <p><span>Email : </span> gnyathela@gmail.com</p>
                <p><span>Instagram  : </span> gnyathela@gmail.com</p>
                <p><span>Facebook  : </span> gnyathela@gmail.com</p>
                <p><span>Twitter  : </span> gnyathela@gmail.com</p>
            </div>
        </div>
    </div>

</div>
